*{
  background-color: rgb(1, 19, 28);
  color:white
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signup{
  margin-top:20px ;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}